* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  background-color: #F2F2F2 !important;
}

h2 {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 0.75rem;
  color: #f3f3f3;
  letter-spacing: 0.8px;
}


/*? Navbar */

/* #main-nav {
  width: 100%;
  padding: 15px;
  background-color: #E6E5E5;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: top 0.3s;
} */

#main-nav {
  overflow: hidden;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  /* backdrop-filter: blur(7px); */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 3px 0em 1em 0px;
}

#main-nav a {
  float: left;
  display: block;
  font-size: 18px;
  color: #FF340A;
  text-decoration: none;
  padding: 15px;
}

a {
  list-style-type: none;
  margin: 0;
}

.nav-name {
  font-size: 20px;
  color: #FF340A;
  text-decoration: none;
  pointer-events: none;
  font-weight: 500;
  padding-left: 15px;
}


.nav-pages {
  padding-right: 15px;
}

.nav-pages a:hover {
  background-color: #333;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Angle */

.angle1 {
  height: 190px;
  width: 100%;
  background-color: #F2F2F2;
}

.angle1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF340A;
  clip-path: polygon(100% 30%, 100% 100%, 0 100%);
  border: none;
}


/*? Main Angle */

.angle {
  position: relative;
}

.angle:after {
  content: '';
  position: absolute;
}

.angle h2 {
  display: flex;
  justify-content: center;
  padding: 4.2rem;
}


/*? Title */

.title {
  background-color: #FF340A;
  border: #E6E5E5;
}

.title-container {
  font-size: 200%;
  padding: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: #f3f3f3;
}

p {
  margin-bottom: -8rem;
}

.arrow {
  display: flex;
  justify-content: center;
}

.hero-arrow {
  color: #f3f3f3;
  align-self: center;
  font-size: 35px;
  margin-top: 75px;
  animation: bounce 1.5s linear infinite;
}

.bi-arrow-down:before {
  content: "\f063";
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.angle2 {
  height: 180px;
  width: 100%;
  background-color: #FF340A;
}

.angle2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

/* .console-underscore {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
}
.console-underscore .hidden {
  opacity: 0;
  background-color: #F2F2F2;
}

.hidden-text {}

#hover-text:hover .hidden-text {
  display: block;
  color: #FF340A;
} */


/*? About */

#about {
  margin: 0;
  padding: 100px 0;
}

.about-me {
  display: flex;
  gap: 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-wrap a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 25px;
}

.img-wrap a:hover {
  text-decoration: none;
  color: #FF340A;
  font-weight: 500;
  font-size: 25px;
}

.img-wrap h2 {
  color: #FF340A;
}

.img-wrap img {
  width: 248px;
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 50%;
  background-size: cover;
}

.about-text {
  width: 70%;
  padding-left: 5%;
}

/* Skills */

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.icons-container .icon {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  gap: 4rem 3rem;
}

.icons-container .icon i {
  /*!no icons yet*/
  cursor: pointer;
  font-size: 30px;
  padding: 1.5rem 2rem;
  border-radius: 50%;
  background-color: #333;
  background-size: 200%;
  transition: background 0.3s ease-in-out;
}

i {
font-size: 40px;
color: #F2F2F2;
}

.icons-container .icons .bi:hover {
  background-position: right;
}


/*? *Interests */
.interest-icons {
  display: flex;
}


/*? Projects */

.angle3 {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(-5deg);
  padding-left: 0px;
}

.sub-angle {
  margin-right: 70px;
  margin-left: 0px;
  background-color: #FF340A;
  position: relative;
  height: 180px;
  color: #f3f3f3;
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}

/* .angle3:after { */
/* content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  clip-path: polygon(100% 0, 100% 100%, 0 100%); */
/* } */

/*? Experience */

.angle4 {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  padding-left: 0px;
}

.sub-reversedangle {
  margin-left: 70px;
  margin-right: 0px;
  background-color: #FF340A;
  position: relative;
  height: 180px;
  color: #f3f3f3;
  -ms-transform: skewY(5deg);
  transform: skewY(355deg);
}


/*? Interests */

.angle5 {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(-5deg);
  padding-left: 0px;
}

.sub-angle {
  margin-right: 70px;
  margin-left: 0px;
  background-color: #FF340A;
  position: relative;
  height: 180px;
  color: #f3f3f3;
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}


/*? Contact */

#contact h2 {
  color: #FF340A;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.social-links {
  background-color: #E6E5E5;
  text-decoration: none;
  padding: 10px;
}

.social-links a {
  color: #FF340A;
  padding: 3px;
}

/* 
.social-links .bi {
  border-radius: 50%;
  background-color: #E6E5E5;
} */

.social-links a:hover {
  color: #333;
}