* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --h1-font-size: calc(1.375rem + 1.5vw);
}

body {
  color: #3C3C3C;
  background-color: #F2F2F2 !important;
  font-family: 'Roboto Mono', monospace !important;
  /* min-height: 100vh; */
}

h1 {
  font-size: var(--h1-font-size)
}

h2 {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 0.75rem;
  color: #f3f3f3;
  letter-spacing: 0.8px;
}


/*? Navbar */

#main-nav {
  overflow: hidden;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 3px 0em 1em 0px;
}

#main-nav a {
  float: left;
  display: block;
  font-size: 18px;
  color: #FF340A;
  text-decoration: none;
  margin: 0 15px;
}

a {
  list-style-type: none;
  margin: 0;
}

.nav-name {
  font-size: 20px;
  color: #FF340A;
  text-decoration: none;
  pointer-events: none;
  font-weight: 500;
  padding-left: 15px;
}

.nav-pages {
  padding-right: 15px;
}

.nav-pages a:hover {
  background-color: #3C3C3C;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Angle */

.angle1 {
  height: 190px;
  width: 100%;
  background-color: #F2F2F2;
}

.angle1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF340A;
  clip-path: polygon(100% 30%, 100% 100%, 0 100%);
}


/*? Main Angle */

.angle {
  position: relative;
}

.angle:after {
  content: '';
  position: absolute;
}

.sub-angle,
.sub-reversedangle {
  margin-bottom: 6rem;
}

.angle h2 {
  display: flex;
  justify-content: center;
  padding: 4.2rem 4.2rem 6rem;
}


/*? Title */

.title {
  background-color: #FF340A;
  border: #E6E5E5;
}

.title-container {
  font-size: 200%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f3f3f3;
  gap: 25px;
}

#text-type {
  font-size: calc(var(--h1-font-size) * 0.85);
  max-width: 80vw;
  height: 7rem;
}

p {
  margin-bottom: -8rem;
}

.arrow {
  display: flex;
  justify-content: center;
}

.hero-arrow {
  color: #f3f3f3;
  align-self: center;
  font-size: 35px;
  margin-top: 75px;
  animation: bounce 1.5s linear infinite;
}

.bi-arrow-down:before {
  content: "\f063";
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.angle2 {
  height: 180px;
  width: 100%;
  background-color: #F2F2F2;
}

.angle2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF340A;
  clip-path: polygon(0 0, 0 100%, 100% 0);
}


/*? About */

#about {
  margin: 0;
  padding: 100px 0;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
  align-items: center;
}

.img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.img-wrap a {
  text-decoration: none;
  color: #3C3C3C;
  font-weight: 600;
  font-size: 20px;
}

.img-wrap a:hover {
  text-decoration: none;
  color: #FF340A;
  font-weight: 500;
  transform: scale(1.2);
}

.img-wrap h2 {
  color: #FF340A;
}

.img-wrap img {
  width: 248px;
  display: block;
  object-fit: cover;
  border-radius: 100vh;
  background-size: cover;
}

.about-text {
  padding: 5%;
}

/* Skills */

#skills {
  margin: 0 auto;
  margin-top: 40px;
}

i {
  font-size: 40px;
}

.icons-container {
  width: max-content;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.icons-container div.icon {

  margin: 11px 1px 1px 3px;
  padding: 10px;
  width: 90px;
  height: 90px;

  justify-content: center;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5%;
  align-items: center;
  font-size: 13px;
  display: grid;
  justify-items: center;
  gap: 10px;
}

.icons-container div.icon h3 {
  font-size: 1.125rem;
  font-weight: normal;
}


/*? Projects */

#projects {
  margin: 0;
  padding: 100px 0;
}

.projects-container {
  display: flex;
  gap: 6rem;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
  align-items: center;
  flex-direction: column;
}

.project1,
.project2,
.project3,
.project4 {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.project1,
.project3 {
  flex-direction: column;
}

.project2,
.project4 {
  flex-direction: column-reverse;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-links {
  gap: 4px;
  display: flex;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
  align-items: flex-start;
}

.project-links a.scroll-side {
  transform: translateX(50px);
  opacity: 0;
  transition: all 0.5s;
}

.project-links a.scroll-side.show-up {
  transform: translateX(0px);
  opacity: 1;
}

.project-links a {
  text-decoration: none;
  color: #3C3C3C;
  border: 1px solid #FF340A;
  border-radius: 4px;
  padding: 4px 17px;
}

.project-links a:hover {
  color: #f3f3f3;
  background-color: #ff340adb;
}

.image {
  width: 30rem;
  max-width: 80vw;
}

.technologies {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
}

.icons {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.angle3 {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(-5deg);
  padding-left: 0px;
}

.sub-angle {
  margin-right: 70px;
  margin-left: 0px;
  background-color: #FF340A;
  position: relative;
  height: 180px;
  color: #f3f3f3;
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}


/*? Experience */

#experience {
  margin: 0;
  padding: 100px 0;
}

.experience-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 10vw;

}

.experience-container img {
  width: 120px;
  height: 120px;
  padding: 5px;
  margin: 15px;
  background-size: cover;
}

.ga,
.fashion-assistant,
.visual-merchandiser {
  display: flex;
  align-items: center;
}

.ga,
.visual-merchandiser {
  flex-direction: column;
}

.fashion-assistant {
  flex-direction: column-reverse;
}


h3 span {
  font-size: 22px;
}

.angle4 {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  padding-left: 0px;
}

.sub-reversedangle {
  margin-left: 70px;
  margin-right: 0px;
  background-color: #FF340A;
  position: relative;
  height: 180px;
  color: #f3f3f3;
  -ms-transform: skewY(5deg);
  transform: skewY(355deg);
}


/*? Interests */

#interests {
  margin: 0;
  padding: 60px 0;
}

.interest-icon-container {
  border-radius: 50%;
  background-color: #F2F2F2;
  border: 2px solid #FF340A;
}

.interest-icons {
  display: grid;
  gap: 30px;
  margin: 0 10vw;
  padding: 32px 0;
}

.interest-icons img {
  width: 59px;
  padding: 5px;
  margin: 15px;
  background-size: cover;
}

.interest-icons span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}

.interest-icons p {
  padding: 0 10px;
}

.angle5 {
  -ms-transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform: skewY(-5deg);
  padding-left: 0px;
}

.sub-angle {
  margin-right: 70px;
  margin-left: 0px;
  background-color: #FF340A;
  position: relative;
  height: 180px;
  color: #f3f3f3;
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}


/*? Contact */
#contact {
  margin: 0;
  padding-bottom: 45px;
}

#contact h2 {
  color: #FF340A;
  display: flex;
  justify-content: center;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}


/*? Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 2rem;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  background-color: #e6e5e5ad;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  pointer-events: all;
}

footer a {
  color: #3C3C3C;
  text-decoration: none;
}

footer a:hover {
  color: #FF340A;
  padding-bottom: 4px;
}

footer i {
  display: flex;
  font-size: 20px;
}

.full-page-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: 800px) {
  .title-container {
    margin-top: 20px;
  }

  #about {
    padding: 58px 0;
  }

  .about-text {
    width: 70%;
  }

  .about-me {
    flex-direction: row;
    gap: 30px;
    padding: 0 10vw;
  }

  .about-text {
    width: 80%;
    padding: 2%;
    font-size: 15px;
  }

  .img-wrap img {
    width: 160px;
  }

  #skills {
    margin: 23px auto 0;
    padding: 100px 0;
  }

  .icons-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .icons-container div.icon {
    margin: 20px 5px 5px 5px;
    width: 125px;
    height: 125px;
    padding: 1.5rem;

  }

  #projects {
    margin: 0 10vw;
    padding: 62px 0;
  }

  #projects:not(.sub-angle) {
    margin: 0 10vw;
  }

  .projects-container {
    gap: 3rem;
    padding: 0;
    flex-wrap: wrap;
    align-content: center;
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    flex-direction: row;
    gap: 7vw;
  }

  .image {
    width: 23rem;
  }

  .experience-container {
    gap: 6rem;
  }

  .exp-text {
    margin-left: 5rem;
  }

  .exp-text-reverse {
    margin-right: 5rem;
  }

  .ga,
  .fashion-assistant,
  .visual-merchandiser {
    flex-direction: row;
  }

  .interest-icons {
    display: flex;
  }

}