* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
}

/* * Navbar */

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #E6E5E5;
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.name {
  font-size: 20px;
  color: #FF340A;
  text-decoration: none;
  pointer-events: none;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  background-color: #FF340A;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* * Title */

#title-container {
  font-size: 230%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .console-underscore {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
}
.console-underscore .hidden {
  opacity: 0;
  background-color: #F2F2F2;
}

.hidden-text {}

#hover-text:hover .hidden-text {
  display: block;
  color: #FF340A;
} */

/* * About */